body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input[type="text"].ng-invalid.ng-touched {
  border-color: #d9534f;
}

.weater-params {
  list-style: none;
  padding-left: 1rem;
}

.weater-params__name {
  color: #999;
}