body {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

input[type="text"].ng-invalid.ng-touched {
  border-color: #d9534f;
}

.weather-card {
  width: 25rem;
}

.weater-params {
  list-style: none;
  padding-left: 1rem;
}

.weater-params__name {
  color: #999;
}